.footer {

    background-color: black;

    .wrap {
        max-width: 1450px;
        padding: 20 10px;
        margin: 0 auto;
        color: rgba(122, 122, 122, 0.616);

        span {
            font-family: 'Alata', sans-serif;
            font-size: 20pt;
        }

    }
}

@media screen and (max-width: 376px) {
    
    .footer {
        .wrap {
            span {
                font-size: 15pt;
                margin-left: 1.5rem;
            }
        }
    }
}