.cart {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 20%;
    max-width: 30%;
    max-height: 60%;
    background-color: rgb(73, 72, 72);
    overflow: auto;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(41, 40, 40, 0.5);
    border-bottom-left-radius: .5rem;
    font-size: 17pt;
}

.cart h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid rgb(100, 99, 99);
    color: rgb(129, 125, 125);
    padding-bottom: .5rem;
    margin: 1rem 0;
}

.cart h3 {
    font-size: 2rem;
}

.cart .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: var(--tertiary);
    font-size: 2rem;
}

.cart-closed {
    position: fixed;
    top: 2%;
    right: 1%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .25rem;
    width: 50px;
    height: 50px;
}

.cart img {
    width: 70px;
    margin-right: 1rem;
}
  
.cart input {
    width: 50px;
    padding: 0;
    margin: 0 .5rem 1rem 0;
}

@media screen and (max-width: 376px) {
    .cart h2 {
        margin-top: 22px;
        font-size: 15pt;
    }

    .cart {
        font-size: 10pt;
    }
}