.directory {
    height: 100%;
    display: flex;

    .wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    
    
    .item {
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: '';
            position: absolute;
            top: 0; left: 0;
            background: rgba(0,0,0,0.3);
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        a {
            position: absolute;
            background: none;
            color: rgb(235, 74, 74);
            top: 50%; left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            padding: 8px 10px;
            border: 1px;
        }
    }
    }
}