.directory {
    height: 100%;
    display: flex;

    .wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 95%;
    
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100%;
            width: 80%;
            margin: auto; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        a {
            font-family: 'Abril Fatface', cursive;
            font-size: 25pt;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.582);
            background: none;
            color: rgb(235, 74, 74);
        }
    }
    }
}

@media screen and (max-width: 376px) {

    .directory {
        max-width: 80%;
        display: flex;

        .wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 25rem;
                min-height: 15rem;
                width: 30rem;
                margin: auto; 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                a {
                    font-family: 'Abril Fatface', cursive;
                    font-size: 20pt;
                    text-shadow: 2px 2px rgba(0, 0, 0, 0.582);
                    background: none;
                    color: rgb(235, 74, 74);
                }
            }
     
        }

        
    }
}